{% extends "dashboard/home.html" %}

{% block dashboard_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">{{ offer.name }}</h5>
                    <span class="badge bg-{{ offer.publication.status|lower }}">
                        {{ offer.publication.status }}
                    </span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Informacje o produkcie</h6>
                            <dl class="row">
                                <dt class="col-sm-4">Kategoria</dt>
                                <dd class="col-sm-8">{{ offer.category.id }}</dd>
                                
                                <dt class="col-sm-4">Cena</dt>
                                <dd class="col-sm-8">
                                    {{ offer.sellingMode.price.amount }} {{ offer.sellingMode.price.currency }}
                                </dd>
                                
                                <dt class="col-sm-4">Magazyn</dt>
                                <dd class="col-sm-8">{{ offer.stock.available }} {{ offer.stock.unit }}</dd>
                                
                                <dt class="col-sm-4">Format</dt>
                                <dd class="col-sm-8">{{ offer.sellingMode.format }}</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <h6>Informacje o sprzedaży</h6>
                            <dl class="row">
                                <dt class="col-sm-4">Wyświetlenia</dt>
                                <dd class="col-sm-8">{{ offer.stats.visitsCount }}</dd>
                                
                                <dt class="col-sm-4">Obserwujący</dt>
                                <dd class="col-sm-8">{{ offer.stats.watchersCount }}</dd>
                                
                                <dt class="col-sm-4">Sprzedano</dt>
                                <dd class="col-sm-8">{{ offer.stock.sold }}</dd>
                            </dl>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="row mt-4">
                        <div class="col-12">
                            <h6>Opcje dostawy</h6>
                            <dl class="row">
                                <dt class="col-sm-3">Czas dostawy</dt>
                                <dd class="col-sm-9">{{ offer.delivery.handlingTime }}</dd>
                                
                                <dt class="col-sm-3">Informacje dodatkowe</dt>
                                <dd class="col-sm-9">{{ offer.delivery.additionalInfo }}</dd>
                            </dl>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="row mt-4">
                        <div class="col-12">
                            <h6>Lokalizacja</h6>
                            <dl class="row">
                                <dt class="col-sm-3">Miasto</dt>
                                <dd class="col-sm-9">{{ offer.location.city }}</dd>
                                
                                <dt class="col-sm-3">Województwo</dt>
                                <dd class="col-sm-9">{{ offer.location.province }}</dd>
                                
                                <dt class="col-sm-3">Kod pocztowy</dt>
                                <dd class="col-sm-9">{{ offer.location.postCode }}</dd>
                            </dl>
                        </div>
                    </div>
                    
                    {% if offer.parameters %}
                    <hr>
                    <div class="row mt-4">
                        <div class="col-12">
                            <h6>Parametry</h6>
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Nazwa</th>
                                            <th>Wartość</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for param in offer.parameters %}
                                        <tr>
                                            <td>{{ param.name }}</td>
                                            <td>
                                                {% if param.values %}
                                                    {{ param.values|join:", " }}
                                                {% elif param.rangeValue %}
                                                    {{ param.rangeValue.from }} - {{ param.rangeValue.to }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="mt-4">
                        <h6>Historia zmian</h6>
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Rodzaj zmiany</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for event in offer_events %}
                                    <tr>
                                        <td>{{ event.occurredAt|date:"Y-m-d H:i:s" }}</td>
                                        <td>
                                            <span class="badge {% if event.type == 'OFFER_ACTIVATED' %}bg-success
                                                            {% elif event.type == 'OFFER_ENDED' %}bg-danger
                                                            {% elif event.type == 'OFFER_STOCK_CHANGED' %}bg-warning
                                                            {% elif event.type == 'OFFER_PRICE_CHANGED' %}bg-info
                                                            {% else %}bg-secondary{% endif %}">
                                                {{ event.type }}
                                            </span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="mb-0">Szczegóły publikacji</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-5">Data rozpoczęcia</dt>
                        <dd class="col-sm-7">{{ offer.publication.startingAt|date:"Y-m-d H:i" }}</dd>
                        
                        <dt class="col-sm-5">Data zakończenia</dt>
                        <dd class="col-sm-7">{{ offer.publication.endingAt|date:"Y-m-d H:i" }}</dd>
                        
                        <dt class="col-sm-5">Status</dt>
                        <dd class="col-sm-7">
                            <span class="badge bg-{{ offer.publication.status|lower }}">
                                {{ offer.publication.status }}
                            </span>
                        </dd>
                    </dl>
                </div>
            </div>
            
            {% if offer.afterSalesServices %}
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="mb-0">Usługi posprzedażowe</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        {% if offer.afterSalesServices.impliedWarranty %}
                        <dt class="col-sm-5">Gwarancja</dt>
                        <dd class="col-sm-7">Tak</dd>
                        {% endif %}
                        
                        {% if offer.afterSalesServices.returnPolicy %}
                        <dt class="col-sm-5">Zwroty</dt>
                        <dd class="col-sm-7">Tak</dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}